/*!
  * Item: Kitzu
  * Description: Personal Portfolio Template
  * Author/Developer: Exill
  * Author/Developer URL: https://themeforest.net/user/exill
  * Version: v1.0.2
  * License: Themeforest Standard Licenses: https://themeforest.net/licenses
  */

/*----------- ADD YOUR CUSTOM CSS STYLES BELOW -----------*/


@media (max-width: 767.98px) {
  .home-area .fixed-wrapper {
    display: block;
  }
  .home-area .fixed-wrapper .social-icons>li {
    display: inline-block;
    margin-left: 14px
  }
}


@media (max-width: 420px) {
  .home-area .fixed-wrapper {
    bottom: 90px;
  }
}

@media (max-width: 375px) {
  .home-area .fixed-wrapper {
    bottom: 120px;
  }
}

@media (max-width: 360px) {
  .home-area .fixed-wrapper {
    bottom: 60px;
  }
}

@media (max-width: 320px) {
  .home-area .fixed-wrapper {
    bottom: 30px;
  }
}

.contact-info {
  text-align: center;
}
